// Paddings

.small-padding{
	padding: 5px;
}

.padding-top{
	padding-top: 15%;
}
.padding-top-2{
	padding-top: 10px;
}
.padding-left{
	padding-left: 100px;
}
.padding-bottom{
	padding-bottom: 15px;
}
.no-padding{
  padding: 0px !important;
}

.large-padding{
	padding: 25px;
}
.huge-padding{
	padding: 40px;
}

// Margins

.small-margin{
	margin: 5px;
}
.top-space{
	margin-top:50px;
}

// Tamaños

img.smaller{
	width: 60%;
}

//Tamaños de fuente
i.bigger{
	font-size:350% !important;
}

// Aligns

.justify{
	text-align:justify;
}

.center{
	text-align:center;
}