@import "common";
@import "colores";

// Etiquetas

html, body{
	margin: 0px !important;
	padding: 0px !important;
	background-color: #DADADA;
  font-family: 'Roboto Slab', serif;
}

img{
	max-height: 100%;
}
nav{
  top:2.45em;
}
nav, .nav{
	position:fixed;
  width: 100%;
	z-index:5;
	transition: .4s;
}
nav ul{ 
  transition:.4s;
}
.hidden-text:hover{
  background-color:inherit;
  color:inherit;
}
.nav li.lang{
  width:auto;
  font-size:1em;
  padding:.4em !important;
  padding-bottom:.6em !important;
}
nav ul li:hover{
  background-color:white;
}
li:hover a{

  color: #E65100 !important;
}

//Fuentes

.galada{
  font-family: 'Galada', cursive !important;
}

.cover{
  z-index: -1;
  position: absolute;
  top:7%;
  width: 100%;
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.slider{
  position: absolute;
  height: 100% !important;
}

.slider .slides li img{
	background-size:100% 100%;
	background-repeat:no-repeat;
}

.hiddentext{
  color: rgba(0,0,0,0);
}

.welcome{
  width: 100%;
  top: 110%;
  position: absolute;

}

.welcome-info-text{
  text-align: justify;
}
.services{
  background-image: url("../img/background-2.jpg");
  top: 200%;
  width: 100%;
  position: absolute;
}

.foote-page{
  top: 110%;
  height:50px;
  line-height:50px;
  color: #FFF;
  background-color:#333333;;
  position: absolute;
  width: 100%;
  
}

.foote-page p{
  margin-left: 5%;
  margin-top: 0px;
}

.no-hover:hover{
  background-color: inherit;
}