@import "common";
@import "colores";

// Etiquetas

html, body{
  margin: 0px !important;
  padding: 0px !important;
  background-color: #DADADA;
  font-family: 'Roboto Slab', serif;
}

img{
  max-height: 100%;
}
nav{
  top:2.05em;
}
nav, .nav{
  position:fixed;
  width: 100%;
  z-index:5;
  transition: .4s;
}
nav ul{ 
  transition:.4s;
}
.hidden-text:hover{
  background-color:inherit;
  color:inherit;
}
.nav li.lang{
  font-size:1em;
  padding:.2em !important;
  padding-bottom:.4em !important;
}
nav ul li:hover{
  background-color:white;
}
li:hover a{

  color: #fff !important;
  background-color: #333333;
}

//Fuentes

.galada{
  font-family: 'Galada', cursive !important;
}

.cover{
  z-index: -1;
  position: absolute;
  top:7%;
  width: 100%;
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.slider{
  position: absolute;
  height: 100% !important;
}

.slider .slides li img{
  background-size:100% 100%;
  background-repeat:no-repeat;
}

.hiddentext{
  color: rgba(0,0,0,0);
}

.welcome{
  width: 100%;
  top: 110%;
  position: absolute;

}

.welcome-info-text{
  text-align: justify;
}
.services{
  background-image: url("../img/background-2.jpg");
  top: 200%;
  width: 100%;
  position: absolute;
}

/*.foote-page{
  bottom: -174% !important;
  height:50px;
  line-height:50px;
  color: #FFF;
  background-color:#333333;;
  position: absolute;
  width: 100%;
  
}*/

.page-footer{
  bottom: -250% !important;
  position: absolute;
}
/*.foote-page p{
  margin-left: 5%;
  margin-top: 0px;
}
*/
.no-hover:hover{
  background-color: inherit;
  color: #333333;
}
.prod-cont{
  padding:50px;
}
.hover-img{
  -webkit-filter:grayscale(100%);
  -moz-filter:grayscale(100%);
  filter:grayscale(100%);
  transition: .4s;
}
.hover-img:hover{
  -webkit-filter:grayscale(0%);
  -moz-filter:grayscale(0%);
  filter:grayscale(0%);
}

.carta-container{
  perspective: 700;
}
.carta{
  color: #fff;
  text-align: center;
  line-height: 300px;
  position: relative;
  width: 100%;
  height: 200px;
  transition: all 1s ease;
  transform-style: preserve-3d;
}
.carta:hover{
  transform: rotateY(180deg);
}
.front, .back{
  background: #D32F2F;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  backface-visibility: hidden;
}

.back{
  transform: rotateY(180deg);
}

.topminus{
  top: -50%;
}