.small-padding {
  padding: 5px; }

.padding-top {
  padding-top: 18px; }

.padding-top-2 {
  padding-top: 10px; }

.padding-left {
  padding-left: 100px; }

.padding-bottom {
  padding-bottom: 15px; }

.no-padding {
  padding: 0px !important; }

.large-padding {
  padding: 25px; }

.huge-padding {
  padding: 40px; }

.small-margin {
  margin: 5px; }

.top-space {
  margin-top: 50px; }

img.smaller {
  width: 60%; }

.justify {
  text-align: justify; }

.negro {
  background-color: #333333 !important; }

.negro-text {
  color: #333333 !important; }

.rojo {
  background-color: #E8504B !important; }

.rojo-text {
  color: #E8504B !important; }

.amarillo {
  background-color: #F19500 !important; }

.amarillo-text {
  color: #F19500 !important; }

.azul {
  background-color: #57989A !important; }

.azul-text {
  color: #57989A !important; }

.azul-light {
  background-color: #6EC8CB !important; }

.azul-light-text {
  color: #6EC8CB !important; }

.dark-verde {
  background-color: #121F20 !important; }

.dark-verde-text {
  color: #121F20 !important; }

.blanco-bonito {
  background-color: #F2F2F2 !important; }

.blanco-bonito-text {
  color: #F2F2F2 !important; }

html, body {
  margin: 0px !important;
  padding: 0px !important;
  background-color: #DADADA;
  font-family: 'Roboto Slab', serif; }

img {
  max-height: 100%; }

nav {
  top: 2.05em; }

nav, .nav {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: .4s; }

nav ul {
  transition: .4s; }

.hidden-text:hover {
  background-color: inherit;
  color: inherit; }

.nav li.lang {
  width: auto;
  font-size: 1em;
  padding: .2em !important;
  padding-bottom: .4em !important; }

nav ul li:hover {
  background-color: white; }

li:hover a {
  color: #fff !important;
  background-color: #333333; }

.galada {
  font-family: 'Galada', cursive !important; }

.cover {
  z-index: -1;
  position: absolute;
  top: 7%;
  width: 100%;
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; }

.slider {
  position: absolute;
  height: 100% !important; }

.slider .slides li img {
  background-size: 100% 100%;
  background-repeat: no-repeat; }

.hiddentext {
  color: transparent; }

.welcome {
  width: 100%;
  top: 110%;
  position: absolute; }

.welcome-info-text {
  text-align: justify; }

.services {
  background-image: url("../img/background-2.jpg");
  top: 200%;
  width: 100%;
  position: absolute; }

.foote-page {
  bottom: -174% !important;
  height: 50px;
  line-height: 50px;
  color: #FFF;
  background-color: #333333;
  position: absolute;
  width: 100%; }

.foote-page p {
  margin-left: 5%;
  margin-top: 0px; }

.no-hover:hover {
  background-color: inherit;
  color: #333333; }

.prod-cont {
  padding: 50px; }

.hover-img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: .4s; }

.hover-img:hover {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  filter: grayscale(0%); }

/*.carta-container{
  perspective: 700;
}
.carta{
  color: #fff;
  text-align: center;
  margin:20px;
  width: 300px;
  height:300px;
  position: relative;
  transition: all 0.7s ease;
  transform-style: preserve-3d;
}
.carta:hover{
  transform: rotateY(180deg);
}
.front, .back{
  background: red;
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 300px;
  backface-visibility: hidden;
}
.back{
  transform: rotateY(180deg);
}
*/

/*# sourceMappingURL=main.css.map */
