@import "common";
@import "colores";

// Etiquetas

html, body{
	margin: 0;
	pading: 0;
	background-color: #DADADA;
}

img{
	max-height: 100%;
}

nav.nav{
	position:fixed;
	z-index:5;
	transition: .4s;
}

.cover{
  z-index: -1;
  position: absolute;
  top:7%;
  width: 100%;
  min-height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.slider{
  position: absolute;
  height: 10% !important;
  top: 7%;
}

.slider .slides li img{
	background-size:100% 100%;
	background-repeat:no-repeat;
}

.hiddentext{
  color: rgba(0,0,0,0);
}

.welcome{
  width: 100%;
  top: 110%;
  position: absolute;

}

.welcome-info-text{
  text-align: justify;
}
