!!! 5
%html{:lang => "es"}
	%head
		%meta{:charset => "UTF-8"}
		%title InteligenciaSatelital
		%link{:rel => "stylesheet", :href => "css/materialize.min.css"}
		%link{:rel => "stylesheet", :href => "css/main.css"}
		%script{src: "https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"}
		%script{src: "js/materialize.min.js"}
		%script{src: "js/main.js"}
	%body
		%nav.nav
			%img{:src => "img/IS Logo.png", :alt => ""}/
		.cover
			.slider
				%ul.slides
					%li
						%img.responsive-img{src: "img/IS_Logo.jpg", :alt => ""}
						.caption.right-align
							%h1.azul-text Conócenos
							%h3.dark-verde-text Conoce a I.S
					%li
						%img.responsive-img{src: "img/serviciosimagen.jpg", :alt => ""}
						.caption.left-align{:style => "top:5px;"}
							%h1.negro-text Servicios
							%h3.rojo-text Lo que ofrece I.S
					%li
						%img.responsive-img{src: "img/productosIS.jpg", :alt => ""}
						.caption.right-align
							%h1.negro-text Productos
							%h3.rojo-text ¡Localiza tu flota!