!!! 5
%html{:lang => "es"}
	%head
		%meta{:charset => "UTF-8"}
		%title InteligenciaSatelital
		%link{:rel => "stylesheet", :href => "css/materialize.min.css"}
		%link{:rel => "stylesheet", :href => "css/main.css"}
		%link{:rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Galada|Roboto+Slab"}
		%link{:rel => "icon", :href => "img/favicon-large.png", :type => "image/x-icon"}
		%script{src: "https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"}
		%script{src: "js/materialize.min.js"}
		%script{src: "js/main.js"}
	%body
		.nav.orange.darken-2
			%ul.row{style:"margin:0; float:right; width:100%"}
				%li.lang.col.offset-s10.s1.white-text Español
				%li.lang.col.s1.white-text Inglés
			%nav{style:"background-color:rgba(255,255,255,.6) !important;"}
				.nav-wrapper.hide-on-med-and-down{style:"background-color: transparent !important;"}
					%a{href: "#"}
						%img{:src => "img/IS Logo.png", :alt => ""}/
					%ul#nav-mobile.right
						%li.nav-li.no-padding
							%a.negro-text{href: "#"} Inicio
						%li.nav-li.no-padding
							%a.negro-text{href: "#"} Conócenos
						%li.nav-li.no-padding
							%a.negro-text{href: "#"} Servicios
						%li.nav-li.no-padding
							%a.negro-text{href: "#"} Productos
						%li.nav-li.no-padding
							%a.negro-text{href: "#"} Contactos

		.cover{style:"top: 2.45em;"}
			.slider
				%ul.slides{style:"height:70%;"}
					%li
						%img.responsive-img{src: "img/slider1.jpg", :alt => ""}
						.caption.left-align
							%h1.blanco-bonito-text Conócenos
							%h2.rojo-text Conoce a I.S
					%li
						%img.responsive-img{src: "img/slider2.jpg", :alt => ""}
						.caption.left-align
							%h1.blanco-bonito-text Servicios
							%h2.rojo-text Lo que ofrece I.S
					%li
						%img.responsive-img{src: "img/slider3.jpg", :alt => ""}
						.caption.left-align
							%h1.blanco-bonito-text Productos
							%h2.rojo-text ¡Localiza tu flota!
	
		.foote-page 
			%p Powered By: ActoSoft 2016
			
