!!! 5
%html{:lang => "es"}
	%head
		%meta{:charset => "UTF-8"}
		%title InteligenciaSatelital
		%link{:rel => "stylesheet", :href => "css/materialize.min.css"}
		%link{:rel => "stylesheet", :href => "css/main.css"}
		%link{:rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Galada|Roboto+Slab"}
		%link{:rel => "icon", :href => "img/favicon-large.png", :type => "image/x-icon"}
		%script{src: "https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"}
		%script{src: "js/materialize.min.js"}
		%script{src: "js/main.js"}
	%body
		.nav.orange.darken-2
			%ul.row{style:"margin:0; float:right; width:100%"}
				%li.lang.col.offset-s10.s1.white-text Español
				%li.lang.col.s1.white-text Inglés
			%nav{style:"background-color:rgba(255,255,255,.6) !important;"}
				.nav-wrapper.hide-on-med-and-down{style:"background-color: transparent !important;"}
					%a{href: "#"}
						%img.padding-left{:src => "img/IS Logo.png", :alt => ""}/
					%ul#nav-mobile.right
						%li.nav-li.no-padding
							%a.negro-text{href: "#"} Inicio
						%li.nav-li.no-padding
							%a.negro-text{href: "#"} Conócenos
						%li.nav-li.no-padding
							%a.negro-text{href: "#"} Servicios
						%li.nav-li.no-padding
							%a.negro-text{href: "#"} Productos
						%li.nav-li.no-padding
							%a.white-text.red.darken-2{href: "#"} Contáctanos

		.cover{style:"top: 2em;"}
			.slider
				%ul.slides{style:"height:70%;"}
					%li
						%img.responsive-img{src: "img/slider1.jpg", :alt => ""}
						.caption.left-align
							%h1.blanco-bonito-text Conócenos
							%h2.rojo-text Conoce a I.S
					%li
						%img.responsive-img{src: "img/slider2.jpg", :alt => ""}
						.caption.left-align
							%h1.blanco-bonito-text Servicios
							%h2.rojo-text Lo que ofrece I.S
					%li
						%img.responsive-img{src: "img/slider3.jpg", :alt => ""}
						.caption.left-align
							%h1.blanco-bonito-text Productos
							%h2.rojo-text ¡Localiza tu flota!

		.cover{style:"top:74.5%"}
			.prod-cont.row.top-space
				.col.m4.s10.offset-s1
					.card
						.card-image.waves-effect.waves-light.waves-block
							%img.hover-img{:src => "img/gps_moto.jpg", :alt => "", style:"height:300px;"}/
						.card-content
							.card-title.negro-text GPS Motocicletas
							%p 
								%a{:href => "#"} Ver Mas
							
				.col.m4.s10.offset-s1
					.card
						.card-image.waves-effect.waves-light.waves-block
							%img.hover-img{:src => "img/gps_auto.jpg", :alt => "", style:"height:300px;"}/
						.card-content
							.card-title.negro-text GPS Vehículos
							%p 
								%a{:href => "#"} Ver Mas
							
				.col.m4.s10.offset-s1
					.card
						.card-image.waves-effect.waves-light.waves-block
							%img.hover-img{:src => "img/gps_personal.jpg", :alt => "", style:"height:300px;"}/
						.card-content
							.card-title.negro-text GPS Personal
							%p 
								%a{:href => "#"} Ver Mas

		.cover.green.lighten-4.row{style:"top:170%; padding:80px; text-align:center;"}
			.col.m4.s11.offset-s1.top-space
				.col.s12
					%img{:src => "img/soporte-icon.png"}
				.col.s12
					%h2 Soporte
				.col.s12
					%p.justify 
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore numquam dicta, maxime veniam! Delectus nesciunt corrupti, cupiditate ab, quisquam vero totam, minus enim eveniet temporibus expedita voluptatem optio aut voluptatibus.				
			.col.m4.s11.offset-s1.top-space				
				.col.s12
					%img{:src => "img/monitoreo-icon.png"}
				.col.s12
					%h2 Monitoreo IS
				.col.s12
					%p.justify 
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore numquam dicta, maxime veniam! Delectus nesciunt corrupti, cupiditate ab, quisquam vero totam, minus enim eveniet temporibus expedita voluptatem optio aut voluptatibus.
			.col.m4.s11.offset-s1.top-space
				.col.s12
					%img{:src => "img/gps-icon.png"}
				.col.s12
					%h2 GPS
				.col.s12
					%p.justify 
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore numquam dicta, maxime veniam! Delectus nesciunt corrupti, cupiditate ab, quisquam vero totam, minus enim eveniet temporibus expedita voluptatem optio aut voluptatibus.			
	
		.foote-page 
			%p Powered By: ActoSoft 2016
			
