!!! 5
%html{:lang => "es"}
	%head
		%meta{:charset => "UTF-8"}
		%title Rastreo de Animales 
		%link{:rel => "stylesheet", :href => "https://fonts.googleapis.com/icon?family=Material+Icons"}/
		%link{:rel => "stylesheet", :href => "../css/materialize.min.css"}
		%link{:rel => "stylesheet", :href => "../css/main.css"}
		%link{:rel => "stylesheet", :href => "https://fonts.googleapis.com/css?family=Galada|Roboto+Slab"}
		%link{:rel => "icon", :href => "../img/favicon-large.png", :type => "image/x-icon"}
		%link{:rel => "stylesheet", :href=> "https://www.fuelcdn.com/fonts/proxima-nova.css"}
		%script{src: "https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"}
		%script{src: "../js/materialize.min.js"}
		%script{src: "../js/facebookapi.js"}
		%script{src: "../js/main.js"}
		%meta{name:"viewport", content:"width=device-width, initial-scale=1.0"}
	%body
		%ul.dropdown-content#dropdown1{style:"background-color:rgba(255,255,255,.7) !important;"}
			%li
				%a.grey-text.text-darken-4{:href => "gestion-de-flotas.html"} GESTION DE FLOTAS
			%li
				%a.grey-text.text-darken-4{:href => "seguridad-personal.html"} SEGURIDAD PERSONAL
			%li
				%a.grey-text.text-darken-4{:href => "seguimiento-de-personal.html"} SEGUIMIENTO DE PERSONAL

		%ul.dropdown-content#dropdown2{style:"background-color:rgba(255,255,255,.7) !important;"}
			%li
				%a.grey-text.text-darken-4{:href => "../dispositivos/gps-tracker.html"} GPS TRACKER
			%li
				%a.grey-text.text-darken-4{:href => "../dispositivos/syrus-sy2210.html"} SYRUS SY2210
			%li
				%a.grey-text.text-darken-4{:href => "../dispositivos/meitrack-vt310.html"} MEITRACK VT310
			%li
				%a.grey-text.text-darken-4{:href => "../dispositivos/gps-tracker-vehiculos.html"} GPS TRACKER VEHICULOS
			%li
				%a.grey-text.text-darken-4{:href => "../dispositivos/mini-tracker.html"} MINI TRACKER
			%li
				%a.grey-text.text-darken-4{:href => "../dispositivos/trackimo.html"} TRACKIMO

		.nav.orange.darken-2{style:"z-index:50;"}
			%ul.row{style:"margin:0; float:right; width:100%"}
				%li.lang.col.offset-s10.s1.white-text Español
				%li.lang.col.s1.white-text Inglés
			%nav{style:"background-color:rgba(255,255,255,.6) !important; z-index:50; height:15%;"}
				.nav-wrapper.hide-on-med-and-down{style:"background-color: transparent; !important;"}
					%a{href: "../index.html"}
						%img.padding-left{:src => "../img/Logo-Nuevo.png", :alt => "", style: "padding-bottom: 5px; position: fixed; width: 20%; margin-top:0.3%;"}/
					%ul#nav-mobile.right{style: "padding-top:1.5%;"}
						%li.nav-li.no-padding
							%a.negro-text.si.fuente-normals.fuente-Sbold{href: "../index.html"} INICIO
						%li.nav-li.hidden-text
							%a.negro-text{href: "#"} &nbsp&nbsp&nbsp&nbsp&nbsp
						%li.nav-li.no-padding
							%a.negro-text.si.dropdown-button.fuente-normals.fuente-Sbold{href: "../soluciones-industriales.html","data-activates":"dropdown1"} SOLUCIONES INDUSTRIALES
						%li.nav-li.no-padding.hidden-text
							%a.negro-text{href: "#"} &nbsp&nbsp&nbsp&nbsp&nbsp
						%li.nav-li.no-padding
							%a.negro-text.si.dropdown-button.fuente-normals.fuente-Sbold{href: "../dispositivos.html","data-activates":"dropdown2"} DISPOSITIVOS
						%li.nav-li.no-padding.hidden-text
							%a.negro-text{href: "#"} &nbsp&nbsp&nbsp&nbsp&nbsp
						%li.nav-li.no-padding
							%a.negro-text.si.fuente-normals.fuente-Sbold{href: "../servidor.html"} SERVIDOR
						%li.nav-li.no-padding.hidden-text
							%a.negro-text{href: "#"} &nbsp&nbsp&nbsp&nbsp&nbsp
						%li.nav-li.no-padding
							%a.negro-text.si.fuente-normals.fuente-Sbold{href: "../empresa.html"} EMPRESA
						%li.nav-li.no-padding.hidden-text
							%a.negro-text{href: "#"} &nbsp&nbsp&nbsp&nbsp&nbsp
						%li.nav-li
							%a.white-text.red.darken-2.fuente-normals.fuente-Sbold{href: "../contacto.html"} CONTACTO
				.nav-wrapper
					%a.brand-logo.left{href: "#"}
						%img{:src => "../img/Logo-Nuevo.png", :alt => "", style:"position:absolute; "}/
					%a.button-collapse{href:"#", "data-activates":"mobile"}
						%i.material-icons.negro-text.bigger menu
					%ul.side-nav{id:"mobile", style:"z-index:10"}
						%li.negro-text
							%a{:href => "../index.html"} Inicio
						%li.negro-text
							%a{:href => "../soluciones-industriales.html"} Soluciones Industriales
						%li.negro-tex
							%a{:href => "../dispositivos.html"} Dispositivos
						%li.negro-text
							%a{:href => "../servidor.html"} Servidor
						%li.negro-text
							%a{:href => "../empresa.html"} Empresa
						%li.negro-text
							%a{:href => "../contacto.html"} Contacto

		-#.cover{style:"top:15.5%; width: 100%; position: absolute;"}
		-#	.orange.darken-2{style: "height: 60%;"}
		-#		%h2.blanco-bonito-text.fuente-Bold-It.center{style:"padding-top:2%; padding-bottom:1%;"} Dispositivos Inteligencia Satelital
		-#		%p.blanco-bonito-text.fuente-Bold-It.center
		-#			%b Una cosa aquí
		-#			Otra aquí, que es como una descripcion de la pagina
		.cover{style: "top:0%; height:45%; position: fixed;"}
			%img{src: "../img/solucionesback3.jpg", style: "width:100%; !important; position: absolute; height: 100%; opacity: 0.6;"}
		.cover.row{style:"top:25%"}
			%section.section.side-m.grey-text.text-darken-4.col.s12.m9
				%article{style: "width:100%; height:30% !important;"}
					.col.s12
						%img{style:"width:100%;", src:"../img/animales.jpg"}		
					
				%article.container{style: "width: 90%;"}
					.col.s12
						%h1.fuente-bold.orange-text.darken-2.center Rastreo de Animales
					.col.s6.col.s6{style: "padding: 5%;"}
						%p.justify.fuente-textosmall Las mascotas también son parte de la familia y cualquiera que haya perdido alguna sabe de la angustia que conlleva. Los pequeños dispositivos de I.S. permitirán conocer rápidamente la localización de su mascota antes de que pase a mayores.
					
					.col.s6.col.s6{style: "padding: 3%;"}
						%h4.col.s12 Beneficios
						%p.justify
							%ul.fuente-textosmall
								%li{style: "list-style-type: none; color:transparent;"} sadf
								%li.circleli Maximice la Seguridad
								%li.circleli Mayor Eficiencia y Rentabilidad
								%li.circleli Reduzca costos
								%li.circleli Mejore la satisfacción de los usuarios
					.col.s12
						%h4 Dispositivos
						%ul.collection
							%a.collection-item.orange-text.text-darken-4{:href => "#!"} Dispositivo 1
							%a.collection-item.orange-text.text-darken-4{:href => "#!"} Dispositivo 2
							%a.collection-item.orange-text.text-darken-4{:href => "#!"} Dispositivo 3
					

			%section.section.grey-text.text-darken-4.col.hide-on-small.m3
				%article.container{style: "width: 100%;"}
					%ul
						%li.side
							%h4.red-text.fuente-Sbold Conoce todas las Soluciones Industriales disponibles!
						%li.side
							%a{:href => "transporte.html"} 
								Transporte
						%li.side
							%a{:href => "gobierno.html"} 
								Gobierno
						%li.side
							%a{:href => "utilidades.html"} 
								Utilidades
						%li.side
							%a{:href => "telecomunicaciones.html"} 
								Telecomunicaciones
						%li.side
							%a{:href => "proteccion-infantil.html"} 
								Protección Infantil
						%li.side
							%a{:href => "operaciones.html"} 
								Operaciones
						%li.side
							%a{:href => "adultos.html"} 
								Adultos
						%li.side
							%a.mainsolution.red-text{:href => "rastreo-animales.html"} 
								Rastreo de Animales
						%li.side
							%a{:href => "servicio-alimentos.html"} 
								Servicio de alimentos
						%li.side
							%a{:href => "heavy-duty.html"} 
								Heavy-Duty
						%li.side
							%a{:href => "renta-autos.html"} 
								Renta de autos
						%li.side
							%a{:href => "conductores-adolescentes.html"} 
								Conductores Adolescentes
						%li.side
							%a{:href => "rastreo-exclusivo.html"} 
								Rastreo Exclusivo
						%li.side
							%a{:href => "seguridad.html"} 
								Seguridad
						%li.side
							%a{:href => "supervision.html"} 
								Supervisión
						%li.side
							%a{:href => "mineria-petroleo.html"} 
								Minería, Petróleo, etc
			
		
		.cover{style:"top:235%;"}
			.prod-cont{style: "background-image: url(../img/files.jpg); background-size: 100% 100%;"}
				.container{style: "width:90%; background-color: rgba(255,255,255,0.8); display: block;"}
					.row
						.col.l12.s12ight:
							%h3.center.fuente-bold-It Conoce todos los beneficios que Inteligencia Satelital le ofrece
					.row.center
						.col.l12.s12.center
							%a{href: "../beneficio.html"}	
								%img{src: "../img/more-info2.png", style: "width: 8%; height:8%;"}
								%h4.rojo-text.fuente-Sbold Conocer más					
						
	
		%footer.page-footer.grey.darken-3{style:"width:100%; bottom: -250% !important;"}
			.container{style:"width:90%;"}
				.row
					.col.l6.s12
						%h4.rojo-text.fuente-bold-It Contacto
						%p.grey-text.text-lighten-4.justify.fuente-normal-It{style: "font-size: 1.2em;"}
							Ciudad de México
						%p.rojo-text.text-lighten-4.justify.fuente-normal-It{style: "font-size: 1.2em;"}
							Tel: 
							%span.grey-text.text-lighten-4.justify.fuente-normal-It{style: "font-size: 1.2em;"} (55) 6349 1008
						%p.rojo-text.text-lighten-4.justify.fuente-normal-It{style: "font-size: 1.2em;"}
							Mail: 
							%a{href: "mailto:direccion@inteligenciasatelital.com"}
								%span.grey-text.text-lighten-4.justify.fuente-normal-It{style: "text-decoration: underline; font-size: 1.2em;"} direccion@inteligenciasatelital.com
						
						%a{href: "../contacto.html"}
							%p.blue-text.text-lighten-4.justify.fuente-normal-It{style: "font-size: 1.5em; text-decoration: underline;"}
								Escríbenos
					.col.l2.s12
						%a{href: "#"}
							%img.responsive-img{src: "../img/facebook.png", style: "padding-top: 30%; padding-bottom: 20%;"}
					
					.col.l2.s12
						%a{href: "#"}
							%img.responsive-img{src: "../img/twitter.png", style:"padding-top: 30%; padding-bottom: 20%;"}
					.col.l2.s12
						%a{href: "#"}
							%img.responsive-img{src: "../img/google-plus.png", style:"padding-top: 30%; padding-bottom: 20%;"}
			
            		
           
			.footer-copyright.negro
				.container
					Powered By: ActoSoft

		%a.ancla{onclick: "gototop()"}
			%img{src: "../img/up-arrow.png"}

			